@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
   font-family: 'Itim', sans-serif; 
}
html {
    height: 100%;
    min-width: 100%;
}
body {
    height: 100%;
    background-image: linear-gradient(#FF66D8, #F7EC59);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: inherit;
}
.title {
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px;
    font-size: 3rem;
    padding: 10px;
}
.title:hover {
    font-size: 2.8rem;
}
.question-container {
    background-color: white;
    border-radius: 50px;
    border: 2px solid rgba(110, 110, 110, 0.74);
    height: 600px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.start-text {
    color:#fff;
    border: 2px solid rgba(110, 110, 110, 0.74);
    border-radius: 20px;
    padding: 15px;
    background-image: linear-gradient(#FF66D8, #F7EC59);
    position: relative;
    top: -200px;
}
/* Button Styling */
.btn {
    height: 150px;
    width: 300px;
    margin: 0;
    background-color: #92DCE5;
    border-radius: 30px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.btn:hover {
    height: 145px;
    width: 298px;
}
.start-btn {
 position: relative;
 display: inline;
}
.next-btn {
   display: inline;
}

/* Styling for different screen sizes */
@media screen and (max-width: 500px) {
    .title {
        font-size: 2rem;
    }
    .question-container {
        margin: 0 auto;
        height: inherit;
    }
    .btn {
        margin: 10px;
    }
    .start-btn {
        top: 45%;
    }
    .btn:hover {
        height: 90px;
        width: 190px;
    }
    .title:hover {
        font-size: 1.9rem;
    }
}
@media screen and (min-width: 1500px) and (max-width:1670px) {
    .btn {
        margin: 10px 0;
    }
}
@media screen and (min-width: 500px) and (max-width:1500px) {
    .btn {
        margin: 0 50px 15px;
    }
    .question-container {
        height: inherit;
    }
}
@media screen and (min-width: 500px) and (max-width:900px) {
    .title {
        font-size: 2.55rem;
    }
    .title:hover {
        font-size: 2.2rem;
    }
}
