@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Itim', sans-serif;
    
}
html {
    height: 100%;
    min-width: 100%;
}
body {
    height: 100%;
    background-image: linear-gradient(#FF66D8, #F7EC59);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: inherit;
}
.title {
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px;
    font-size: 3rem;
}
.title:hover {
    font-size: 2.8rem;
}
.question-container {
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgba(110, 110, 110, 0.74);
    height: 600px;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto repeat(2,180px);
    grid-template-areas:
        "que que"
        "que1 que2"
        "que3 que4";
}

.btn {
    height: 150px;
    width: 300px;
    margin: 20px auto;
    background-color: #92DCE5;
    border-radius: 30px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.btn1 {
    grid-area: que1;
}
.btn2 {
    grid-area: que2;
}
.btn3 {
    grid-area: que3;
}
.btn4 {
    grid-area: que4;
}

.btn:hover {
    height: 145px;
    width: 298px;
}
.btn {
    display: none;
}
.start-btn {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    display: inline;
    
}
.next-btn {
    display: none;
}
/* Styling for small screen sizes */
@media screen and (max-width: 500px) {
    .title {
        font-size: 2rem;
    }
    .question-container {
        width: 280px;
    }
    .btn {
        height: 100px;
        width: 200px;
    }
    .start-btn {
        top: 45%;
    }
    .btn:hover {
        height: 90px;
        width: 190px;
    }
    .title:hover {
        font-size: 1.9rem;
    }
}
